@page "/book/{Isbn}"
<PageTitle>Reveries | @(_book?.Title ?? "Book Details")</PageTitle>
@inject BookApiClient BooksApi
@inject BookState BookState

<h3>Book Details</h3>

@if (_book == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row mt-3">
        <div class="col-md-4">
            <img src="@_book.ImageUrl" class="img-fluid rounded shadow" alt="@_book.Title" />
        </div>
        <div class="col-md-8">
            <h4>@_book.Title</h4>
            <p><strong>Authors:</strong> @string.Join(", ", _book.Authors ?? [])</p>
            <p><strong>ISBN:</strong> @_book.Isbn13</p>
            <p><strong>Pages:</strong> @_book.Pages</p>
            @if (!string.IsNullOrEmpty(_book.Series))
            {
                <p><strong>Series:</strong> @_book.Series</p>
                <p><strong>Number in series:</strong> @_book.NumberInSeries</p>
            }
            <p><strong>Language:</strong> @_book.Language</p>
            <p><strong>Publication:</strong> @_book.PublicationDate</p>
            <p><strong>Synopsis:</strong> @_book.Synopsis</p>
        </div>
    </div>
}

@code {
    [Parameter] public string? Isbn { get; set; }
    private BookDto? _book;

    protected override async Task OnInitializedAsync()
    {
        if (BookState.CurrentBook != null && BookState.CurrentBook.Isbn13 == Isbn)
        {
            _book = BookState.CurrentBook;
        }
        else if (!string.IsNullOrEmpty(Isbn))
        {
            _book = await BooksApi.GetAsync(Isbn);
        }
    }
}